# Skills practice

KATE expects your code to define variables with specific names that correspond to certain things we are interested in.

KATE will run your notebook from top to bottom and check the latest value of those variables, so make sure you don't overwrite them.

* Remember to uncomment the line assigning the variable to your answer and don't change the variable or function names.
* Use copies of the original or previous DataFrames to make sure you do not overwrite them by mistake.

You will find instructions below about how to define each variable.

Once you're happy with your code, upload your notebook to KATE to check your feedback.

## Practice Using Variables and Types

The questions below should help to recap and cement the knowledge gained of the fundamentals of Python. Give these questions your best attempt and try to get through as many of tem as you can. Good luck!

_Hint_: Remember the 'help' function is your friend - run the following cell

In [1]:
help('print')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**1)** Write an expression which assigns to variable `data_type_a` the type of `a`

In [2]:
a = 25

In [3]:
# Your code here...
data_type_a = type(a)
data_type_a

int

**2)** Write an expression which assigns to variable `data_type_b` the type of `b`

In [4]:
b = 20.0

In [5]:
# Your code here...
data_type_b = type(b)
data_type_b

float

**3)** Write an expression which assigns to variable `data_type_c` the type of `c`

In [6]:
c = 'Python is named after Monty Python'

In [7]:
# Your code here...
data_type_c = type(c)
data_type_c

str

**4)** Create a variable `d1_d2_equality` which is `True` if `d1` and `d2` are equal and `False` otherwise

In [8]:
d1 = 20
d2 = '20'

In [13]:
# Your code here...
d1_d2_equality = d1 == d2
if d1_d2_equality:
    print('True')
else:
    print('False')

False

## Practice Using Operators

**5)**  Write an expression which assigns to variable `sum_xy` the sum of `x` and `y`

In [22]:
x = 3
y = 10

In [24]:
# Your code here...
sum_xy = x + y
sum_xy

**6)**  Write an expression which multiples two numbers, `3` and `4`, and assigns the result to a variable `product`

In [26]:
# Your code here...
product = 3*4
product

**7)**  Write an expression which multiples two numbers, `3` and `4.0` (note the decimal) and then finds the type of the result. Assign the type of the result to a variable `product_type`.

In [15]:
# Your code here...
product = 3 * 4.0
product_type = type(product)
product_type

float

**8)**  Write an expression which divides the number `10` by `2` and assign the result to variable `div_1`

In [28]:
# Your code here...
div_1 = 10/2
div_1

**9)** Write an expression which finds the result of dividing `7` by `3` and rounds it to the nearest whole number. Assign the result to variable `div_2`

In [72]:
# Your code here...
div_2 = round(7 / 3)
div_2

**10)**  Write an expression which finds the remainder of the result of dividing `7` by `3` and assign the result to variable `div_3`

In [30]:
# Your code here...
div_3 = 7 % 3
div_3

**11)** You are given the number of seconds it takes Bob to run 1 mile, `num_secs`. Write an expression which finds the complete number of minutes taken and assign the result to variable `num_mins`.

In [31]:
num_secs = 345

In [33]:
# Your code here...
num_mins =  int(num_secs / 60)
num_mins

**12)** Alice runs 1 mile in 5 minutes and 15 seconds. Write an expression which finds the number of seconds that it takes her and assign the result to `num_secs_alice`

In [89]:
mins = 5
secs = 15

In [91]:
# Your code here...
num_secs_alice = mins * 60 + secs
num_secs_alice

## Practice Using Lists

The list below `capitals` gives some European capital.

In [18]:
capitals = ['Paris', 'London', 'New York', 'Berlin']

**13)** Write an expression which finds the UK capital using list indexing and assigns it to the variable uk_capital

In [19]:
# Your code here...
uk_capital = capitals [1]
uk_capital

'London'

**14)** Write an expression which assigns the values ['London', 'New York']  to the variable financial_capitals.

In [41]:
# Your code here...
financial_capitals = ['London', 'New York']
financial_capitals

['London', 'New York']

**15)**  Write an expression that uses indexing and the string`uk_city` to assign the letter `las` to the variable `substring1`

In [21]:
uk_city = 'Glasgow'

In [22]:
# Your code here...substring1=
substring1 = uk_city[1:4]
substring1

'las'

**16)** Write an expression that uses indexing and the string`uk_city` to assign the letter `osl` to the variable `substring2`

In [23]:
# transform Glasgow into a list
uk_list = str(uk_city)
uk_list

'Glasgow'

In [24]:
#Finding the letters wanted
substring2 = uk_list[-2]+uk_list[-4]+uk_list[-6]
substring2

'osl'

**17)**  Write an expression that reverses the value assigned to `city_uk`, and calls the result `reversed_city`

In [25]:
# Your code here...
reversed_city = "".join(reversed(uk_city))
reversed_city

'wogsalG'

**18)** The `+` operator can be used on strings. This wasn't covered in the lesson but we can easily test to see what happens.
Two string variables are defined below. Write an expression which adds the two strings together using `+` and assign the result to a variable named `fruit`.

In [26]:
str_1 = 'app'
str_2 = 'le'

In [27]:
# Your code here...
fruit = str_1 + str_2
fruit

'apple'

**19)** Add the strings `cap_1` and `cap_2` and assign them to the variable `cap_us`

In [28]:
cap_1 = 'New'
cap_2 = 'York'

In [40]:
# Your code here...
cap_us = cap_1 + cap_2
cap_us

'NewYork'

**20)** You may have noticed that there is no space in the middle of 'NewYork' - we didn't give it one!  Amend this so that the result is 'New York' with a sing space. Assign the resulting  to variable `cap_updated`.

In [39]:
# Your code here...
cap_updated = cap_1 + ' ' + cap_2
cap_updated

'New York'

**21)** It can be very useful to know how many elements are in a list, ie to find its length. Python does this by using `len()`, which returns the length of the list. Given the list below, find its length and assign the result to the variable `len_list`

In [31]:
new_list = ['a', 'b', 0, 1, 2, 'c']

In [32]:
help('len')

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [33]:
# Your code here...
len_list = len(new_list)
len_list

6

**22** Find the length of the string below, `itly_cap`, and assign the result to the variable `rome_len`

In [34]:
itly_cap = 'Rome'

In [35]:
# Your code here...
rome_len = len(itly_cap)
rome_len

4

**23)** We often want to change an element in a list. This can be done by assigining the element in the list to the new value, 
**Example** `new_list[0] = 'z'` would overwrite 'a' with 'z'.  

Try this using the list provided below, changing the first element to 'scooter'. The revised list will still  be called `transport_list`

In [36]:
transport_list = ['car', 'bike', 'train', 'plane']

In [37]:
# Your code here...
transport_list[0] = 'scooter'
transport_list

['scooter', 'bike', 'train', 'plane']

**24)** Write an expression which finds the last letter of the first element in `transport_list` (as revised) and assign the result to the variable `last_letter`

In [38]:
# Your code here...
#get the first word and transform into a list
first_w = transport_list[0]
first_w
last_letter = list(first_w)[-1]
last_letter

'r'